/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: 
    url(zoro1.jpeg);
  background-image: 
    url(zoro1.jpeg);
  background-image: 
    url(zoro1.jpeg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.go1 button {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 padding-top: 5px;
 padding-left: 13px;
 background-color: #7e76eb;
 position: absolute;
 color: #fff;
 width: 8%;
  top: 3%;
left: 90%;
border-radius: 6px;
  font-size: 20px;
  height: 7%;
}
.container {
  width: 400px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.input-group-append {
  position: absolute;
  cursor: pointer;
  right: 38.5%;
  top: 46.8%;
  border-radius: 80px;
}

.container .login-username .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-username .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #6c5ce7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .login-username .input-group input:focus,
.container .login-username .input-group input:valid {
  border-color: #a29bfe;
}

.submit-btn button {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #7e76eb;
  outline: none;
  border-radius: 30px;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.submit-btn input:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    background: #6c5ce7;
}

.container .login-username .input-group .btn:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  background: hwb(247 43% 16%);
}
form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #ff0000;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #ff0000;
}

.forget {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  font-size: 300;
  margin-top: 0px;
}

.forget a {
  color: #6c5ce7;
}
.register {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  font-size: 300;
  margin-top: 0px;
}

.reg a {
  color: #6c5ce7;
}
@media (max-width: 430px) {
  .container {
    width: 300px;
  }
}