@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  overflow-x: hidden;
}
.bullet {
 position: relative;
 display: block;
 margin-top: 10%;
    /* Shadow effect */
  }
  .bullet p{
    font-weight: 700;
    font-size: 17px;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3); 
      backdrop-filter: blur(10px);
  }
  .bullet h1 {  
    font-size: 35px;
   font-weight: 600;
   color: rgb(255, 255, 255);
  }
  .bullet h2 {  
    text-align: center;
    font-size: 2.5rem;
   font-weight: 700;
   color: rgb(255, 255, 255);

  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .carousal h4 {
    position: absolute;
    bottom: 450px;
    color: #fbfbfb;
    font-size: 40px;
    font-weight: 600;
    opacity: 0; /* Start with h4 text hidden */
    -webkit-animation: fadeIn 1.5s ease-in forwards;
    animation: fadeIn 1.5s ease-in forwards; /* Apply the animation */
  }
  
  header {
    position: fixed; /* Changed from relative to fixed */
    top: 0; /* Align the navbar to the top */
    left: 0; /* Align the navbar to the left */
    width: 100%; /* Ensure it spans the full width */
    background-color: rgb(1, 1, 1);
    height: 85px;
    padding: 2px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Increase z-index to ensure it's above other elements */
    text-decoration: none;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #chatbot-toggle-btn {
    position: fixed;
    height: 50px;
    bottom: 23px;
    right: 20px;
    padding: 12px 10px;
    border: none;
    background-color: #1087ff;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1001;
  }
  #chatbot-toggle-btn:hover {
    background-color: #0074cc;
  }
  .chat-header span:hover{
    color: #ffffff;
  }
  .chatbot-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 150px;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color: #fff;
    transition: height 0.3s ease;
  }
  .chat-header {
    background-color: #1087ff;
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #close-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .chat-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
  }
  .suggestions-container {
    width: 200px;
    border-right: 1px solid #ddd;
  
    height: 100%;
    padding: 0 10px;
  }
  
  .suggestion {
    background-color: #fff;
    border: 1.3px solid #1087ff;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 6px 0;
    display: block;
    width: calc(115% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
  }
  
  .message-container {
    flex-grow: 1;
    padding: 0 10px;
  }
  
  .message-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
  }
  .chat-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
  }
  #user-input {
    font-family: "Poppins";
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
  }
  #send-btn {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    background-color: #1087ff;
    color: #fff;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  #send-btn:hover {
    background-color: #0074cc;
  }
  .user-message {
    background-color: #f3f3f3;
    color: #333;
    padding: 8px;
    border-radius: 15px;
    margin: 15px 30px;
    position: relative;
    display: block;
    max-width: 80%;
    font-size: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .user-message::before {
    content: "\1F468";
    position: absolute;
    bottom: -12px;
    right: -10px;
    left: -30px;
    margin-bottom: 7px;
    font-size: 16px;
    background-color: #1087ff;
    color: #fff;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .bot-message {
    background-color: #10ff8f;
    color: #000000;
    padding: 8px;
    border-radius: 15px;
    margin: 10px 30px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 10px;
    position: relative;
    display: block;
    max-width: 80%;
    font-size: 0.9em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bot-message::before {
  content: url("Icon.png");
    position: absolute;
    bottom: 6px;
    right: -19px;
    left: -21px;
    margin-bottom: 4px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    width: 2px;
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 10px;
  }
  .button-container button {
    padding: 10px 50px;
    border: none;
    background-color: #1087ff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  .button-container button:hover {
    background-color: #0074cc;
  }
  .logo1 {
    position: relative;
    width: 200px;
    height: 102px;
    right: 80px;
    bottom: 8px;
    /* Removed negative top and left values */
    opacity: 0; /* Start with logo hidden */
    animation: fadeIn 1.9s ease-in forwards;
  }
  
  nav {
    position: relative;
    display: inline;
    width: auto; /* Adjusted to auto to prevent overflow */
    left: 7rem;
    bottom: 75px;
  }
  
  .dropdown {
    right: 10px;
    bottom: 7.3px;
    font-size: 20px;
    height: 100%;
    transition: 0.1s ease;
  }
  .dropdown-menu {
    position: fixed;
    width: 195.5%; /* Adjusted to auto to prevent overflow */
    height: 292%; /* Adjusted to auto to prevent overflow */
    border-radius: 10px;

  }
  .dropdown-menu a:hover {
    background-color: transparent;
    color: rgb(16, 63, 253);
  }
  .dropdown-menu a:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: transparent;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  nav button {
    position: fixed;
    top: 20px;
    left: 90%;
    font-size: 20px;
    height: 45px;
  }
  
  nav a {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  }
  nav a:hover {
    text-decoration: none;
    color: #1087ff;
  }
  
  nav a:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color:#f50d0d;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .modal-body #phone {
    width: 467px;
  }
  .span-right{
    position: relative;
    bottom: 30px;
    text-align:right ;
    
  }

  .modal-bodyt,
.modal-headert,
.modal-bodyp,
.modal-headerp,
.modal-bodyd,
.modal-headerd {
  position: relative;
  right: 50px;
  width: 600px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #2c07fd; /* Blue color */
    border-radius: 50%;
    width: 100px; /* Increased size */
    height: 100px; /* Increased size */
    position: fixed; /* Fixed position */
    top: 40%; /* Center vertically */
    left: 45%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 1050; /* Ensure it's above modal */
    display: none; /* Hide by default */
    animation: spin 1s infinite linear, flicker 1.5s infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  @keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  /* Adjust the modal backdrop opacity */
  .modal-backdrop.show {
    opacity: 0.5; /* You can change this value to make it lighter */
  }
  
  /* Ensure the modal is on top of other content */
  .modal {
    z-index: 1050; /* Standard z-index for Bootstrap modals */
  }
  
  
  .form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
  a.ib-mob, a.ib-mob:hover {
    color: unset;
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
   body{
    padding-top: 4rem;
    display: contents;
   }
    header{
      display: flex;
    }
    nav{
  
      display: flex;
    }
    nav a{
      font-size: 13px;
      font-weight: 600;
      margin-left: 10px;
      margin-right: 10px;
    }
    .modal-body #phone {
      width: 467px;
    }
    .dropdown{
       display: flex;
      padding: 3px;
   
    }
    .dropdown-menu{
      display: flex;
      position: fixed;
     width: 14rem;
    }
  
  }
  @media(max-width:767px){
    .about h1, .vision h1, .feed1 h1{
      font-size:32px;
    }
    .about p{
      font-size:16px;
      line-height:normal;
    }
    .ib-address{
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    
  }