/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x:hidden ;
}

header {
  position: fixed; /* Changed from relative to fixed */
  top: 0; /* Align the navbar to the top */
  left: 0; /* Align the navbar to the left */
  width: 100%; /* Ensure it spans the full width */
  background-color: rgb(1, 1, 1);
  height: 85px;
  padding: 2px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Increase z-index to ensure it's above other elements */
  text-decoration: none; 
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo1 {
  position: relative;
  width: 220px;
  height: 112px;
  right: 80px;
  bottom: 12px;
  /* Removed negative top and left values */
  opacity: 0; /* Start with logo hidden */
  animation: fadeIn 1.9s ease-in forwards;
}



nav {
  position: relative;
  display: inline;
  width: auto; /* Adjusted to auto to prevent overflow */
  left: 7rem;
  bottom: 85px;
 
}

.dropdown {
  position: relative;
  bottom: 25%;
  right: 39%;
  left: 48%;
  font-size: 20px;
  height: 100%;
  text-decoration: none;
  
}
.dropdown-menu {
  position: fixed;
  width: 160%; /* Adjusted to auto to prevent overflow */
  height: 250%; /* Adjusted to auto to prevent overflow */
  font-size: 16px;
  border-radius: 8px;
  color: #ff4d3b;
  text-decoration: none;
}
.dropdown-menu a:hover {
  color: black;
}
.dropdown-menu a:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav button {
  position: relative;
  bottom: 126%;
  left: 230%;
  font-size: 20px;
  height: 30%;
}

nav a {
  position: relative;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
nav a:hover {
  text-decoration: none;
  color: #1087ff;
}

nav a:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #f50d0d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.carousal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -108px;
}