* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(purple.png);
}

.container2 .navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 90vh;
  transition: 0.3s;
}

.container2 .navbar a:hover {
  color: #0ef;
}

.container .input-group #btn {
  display: block;
  width: 20%;
  margin-left: 92vh;
  margin-top: 65vh;
  padding: 15px 25px;
  text-align: center;
  border: none;
  background: #6c5ce7;
  outline: none;
  border-radius: 40px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #7a6dd6;
}

.foot {

  background-color: black;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: green;
  align-items: center;
}

